.App {
  text-align: center;
}
.shop-logo{
  margin-left: -40px;
}
.main-bg{
  height : 500px;
  width: auto;
  background-image: url('./img/main_bg.jpg');
  background-size: contain;
  background-position: center;
}
.main-pics{
  width : 80%; 
  height : 60%; 
  margin-top : 20px;
  object-fit: cover;
}
.color-nav {
  background-color: rgb(42, 26, 7);
}
.more-button{
  border : none;
  border-bottom: 2px solid rgb(97, 56, 5);
  border-top: 2px solid rgb(97, 56, 5);
  background-color: rgb(255, 255, 255);
}
.start{
  opacity: 0; /*투명도 주는 스타일임*/
}
.end{
  opacity : 1;
  transition : opacity 0.5s;/*opacity 변경될때 0.5초 걸리게끔*/
}